<%= form_tag '/login' do %>
 <h1>Вход</h1>
 <input type="text" name="username" id="username" placeholder="Имя пользователя"/><br><br>
 <input type="password" name="password" id="password" placeholder="Пароль"/><br><br>
 <input type="submit" name="commit" value="Boйти" class = "btn btn—primary" data—disable—with="Попытка входа"/>
<% end %>