<h1>Ответ</h1>
<br>
 <table class="table table-striped">
    <tr>
        <th>Число</th>
        <th>Счастливые шестизначные номера</th>
    </tr>
    <tr>
        <th><%= @number %></th>
        <th><%= @cur_res %></th>
    </tr>
 </table>
 <%= link_to "Повторить?", :happynumber_input %>
