<h1>Счастливые числа</h1>
<form id="form" action="/happynumber/find_happy">
<label>Введите натуральное число:</label>
<input type="number" pattern="'[\d]+$" name="value" placeholder="1001" /><br><br>
<input type="submit" class = "btn btn—primary" value="Haйти счастливые числа"/>
</form>